@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');
.bio {
    width: 100%;
    height: 55.28vh;
    background-color: #fff;
    background-image: -webkit-linear-gradient(117.5deg, #CFCFCF 50%, #004587 50%);
}
.roboto {
    font-family: 'Roboto', sans-serif;
}
.tamanho14 {
    font-size: 14px;
}
.tamanho16 {
    font-size: 16px;
    font-weight: 400;
}
.tamanho16_500{
    font-size: 16px;
    font-weight: 500;
}
.tamanho18_500{
    font-size: 18px;
    font-weight: 500;
}
.tamanho24 {
    font-size: 24px;
    font-weight: 700;
}
.cinza {
    background-color: #d0d8df;
}
.amaua {
    background-color: #004587;
}
.verdeBot {
    background-color: #00DC58;
}
.vermeBtn{
    background-color:#dc0000 ;
}
.cinzaEsc{
    color: #808080;
}
footer{
    margin-top: 19.9vh;
}