<!DOCTYPE html>
<html>
<head>
    <title>botao devolver</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $(document).ready(function() {
            $("#myButton").click(function() {
                $.ajax({
                    type: "POST",
                    url: "/update_requests_devolver",
                   
                    success: function() {
                        alert("Attribute changed!");
                    }
                });
            });
        });
    </script>
</head>
<body>
    <button id="myButton">Change Attribute {{ username }} </button>
</body>
</html>
