<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="./assets/styles.css">
    <link rel="icon" href="./assets/icon/favicon-IMT.ico">
    <title>Book your Note</title>
</head>
<body>
    <div class="container-fluid">
        <div class="cabecalho row align-items-center">
            <div class="col-6 py-3">
                <div class="offset-md-4">
                    <a href="https://maua.br/">
                        <img class="logo-IMT pt-2" src="/assets/images/imt-logo.png" alt="logo-IMT">
                    </a>
                </div>
            </div>
            <div class="col-6">
                <h2 class="titulo pt-3">Notebooks Mauá</h2>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="col-md-10 mt-5">
            <div class="offset-md-2">
                <div class="login row m-2 justify-content-center">
                    <img class="user-icon mt-3" src="/assets/images/user.svg" alt="user-img">
                    <div class="row justify-content-center">
                        <input class="login-ra col-md-4 col-sm-12 m-2" type="text" placeholder="INSIRA SEU RA">
                    </div>
                    <div class="row justify-content-center">
                        <input class="login-senha col-md-4 col-sm-12 m-2" type="password" placeholder="INSIRA SUA SENHA">
                    </div>
                    <div class="row justify-content-center">
                        <button type="button" class="login-botao col-md-2 col-8 m-2 my-2 btn">Login</button>
                    </div>
                </div>
            </div>
        </div>    
    </div>      
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/js/bootstrap.bundle.min.js" integrity="sha384-qKXV1j0HvMUeCBQ+QVp7JcfGl760yU08IQ+GpUo5hlbpg51QRiuqHAJz8+BrxE/N" crossorigin="anonymous"></script>
</html>
